<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Locataires
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let leaseholder of leaseholders" [routerLink]="['/locataire-details', leaseholder.id]" color="light">
    <ion-card-header>
      <ion-card-title>{{ leaseholder.name }}</ion-card-title>
      <ion-card-subtitle>{{ leaseholder.description }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list color="light">
        <ion-item *ngFor="let lease of leaseholder.leases">
          <ion-label>{{ lease.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    
  </ion-card>

  <ion-card color="success" button="true" style="text-align:center">

    <ion-button color="light" shape="round" fill="outline" size="large" disabled="true" >
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>  
    
  </ion-card>

</ion-content>
