<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Locataires
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card *ngFor="let locataire of locataires" href="">
    <ion-card-header>
      <ion-card-title>{{ locataire.name }}</ion-card-title>
      <ion-card-subtitle>{{ locataire.description }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let bail of locataire.bails">
          <ion-label>{{ bail.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    
  </ion-card>

</ion-content>
