<ion-header>
  <ion-toolbar>
    <ion-title>e-Lease</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/logo.png" alt="App Logo" class="logo">
    </div>

    <ion-card class="login-card">
      <ion-card-content>
        <form (ngSubmit)="onSubmit()">
          <ion-item class="login-item">
            <ion-input type="text" [(ngModel)]="username" name="username" required label="Adresse email" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-item class="login-item">
            <ion-input type="password" [(ngModel)]="password" name="password" required label="Mot de passe" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" class="login-button">Se connecter</ion-button>
        </form>
        <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
