<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>{{ locataire.name }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ locataire.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">{{ locataire.description }}</div>
    <ion-accordion-group>
      <div [formGroup]="bailsForm">
        <ng-container formArrayName="bails">
        <ion-accordion *ngFor="let bailForm of bails.controls; let i = index">
          <ion-item slot="header" color="light">
            <ion-label>{{ locataire.bails[i].name }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <form [formGroupName]=i (ngSubmit)="onSubmit()">
              <ion-list>
                <ion-item>
                  <ion-input label="Dernière MAJ" formControlName="lastUpdate"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Date de Renouvellement" formControlName="renewalDate"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Indexation" formControlName="indexing"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input label="Loyer" formControlName="price"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
              </ion-list>
              <ion-button color="success" type="submit" [disabled]="!bailForm.valid">Submit</ion-button>
            </form>
          </div>
        </ion-accordion>
        </ng-container>
        </div>
      </ion-accordion-group>
      
</ion-content>