<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Envois
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-list [inset]="true" lines="none">
    <ion-item-group *ngFor="let leaseholder of leaseholders">
      <ion-item-divider >
        <ion-label>{{ leaseholder.name }} - {{ leaseholder.email }}</ion-label>
      </ion-item-divider>
        <ion-item *ngFor="let lease of leaseholder.leases">
          <ion-checkbox checked="true" slot="start" aria-label="Toggle selection" labelPlacement="end">{{ lease.name }}</ion-checkbox>
        </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
