<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Envois
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar [value]="progress"></ion-progress-bar>


  <br>
  <ion-item>
    <ion-label>Date d'envoi par défaut</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  </ion-item>
  
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime (ionChange)="setDate($event)" value="{{ defaultSendDate  | date:'YYYY-MM-dd'}}" presentation="date" [showDefaultButtons]="true" id="datetime">
        <span slot="title">Date d'envoi</span>
      </ion-datetime>
    </ng-template>
  </ion-modal>

 
  <ion-list [inset]="true" lines="none">
    <ion-item-group *ngFor="let leaseholder of storageService.getLeaseholders()">
      <ion-item-divider >
        <ion-label>{{ leaseholder.name }} - {{ leaseholder.email }}</ion-label>
      </ion-item-divider>
        <ion-item *ngFor="let lease of leaseholder.leases">
          <ion-checkbox [(ngModel)]="lease.isSelected" slot="start" aria-label="Toggle selection" labelPlacement="end">{{ lease.name }}</ion-checkbox>
        </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon (click)="generatePdf()" name="document-text-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon [routerLink]="['/filebrowser', 'elease_pdfs']" (click)="sendEmail()" name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
