<ion-header>
	<ion-toolbar [color]="copyFile ? 'secondary' : 'primary'">
		<ion-buttons slot="start" *ngIf="currentFolder !== ''">
			<ion-back-button text="Retour"></ion-back-button>
		</ion-buttons>
		<ion-title> Appels de Loyers</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- For opening a standard file picker -->

	<!-- Info if the directory is empty -->
	<ion-text color="medium" *ngIf="folderContent.length === 0" class="ion-padding ion-text-center">
		<p>No documents found</p>
	</ion-text>

	<ion-list>
		<ion-item-sliding *ngFor="let f of folderContent">
			<!-- The actual file/folder item with click event -->
      <ion-item (click)="itemClicked(f)">
        <ion-icon [name]="f.isFile ? 'document-outline' : 'folder-outline'" slot="start"></ion-icon>
				{{ f.name }}
			</ion-item>

		</ion-item-sliding>
	</ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button>
      <ion-icon (click)="sendEmailButton()" name="mail-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
